# Servidor local
PORT=3000

# Seguranca
API_KEY_FILE=api-key-secret.txt
GCP_TENANT_ID=your-tenant-id

# Firebase Web Auth
FIREBASE_WEB_API_KEY=your-firebase-web-api-key
FIREBASE_PROJECT_ID=competition-management-bjj
FIREBASE_AUTH_DOMAIN=competition-management-bjj.firebaseapp.com

# Firebase Admin
GOOGLE_APPLICATION_CREDENTIALS=firebase-config/competition-management-bjj-firebase.json
FIREBASE_STORAGE_BUCKET=gs://competition-management-bjj.firebasestorage.app
